.alert-info {
  text-align: center;
}

button a,
button a:hover {
  color: #ffffff;
}

.sidebar-right {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

body {
  font-family: Arial,sans-serif;
}

.list-unstyled a {
  color: rgba(0, 0, 0, 0.65);
  font-size: 1.2rem;
}

